:root {
  --color-brand: #963d72;
  --color-highlight: #e79e4f;

  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-tertiary: rgba(0, 0, 0, 0.38);

  --bg-primary: #fafafa;
  --bg-secondary: #fff;

  &.dark {
    --color-brand: #963d72;
    --color-highlight: #e79e4f;

    --text-primary: rgba(255, 255, 255, 0.87);
    --text-secondary: rgba(255, 255, 255, 0.6);
    --text-tertiary: rgba(255, 255, 255, 0.38);

    --bg-primary: #111214;
    --bg-secondary: #1e1e1e;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors;
  @apply text-primary;
  @apply bg-primary;
  @apply font-body;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-display;
}
