#voronoiSvg {
  .bounds {
    stroke-width: 2;
    @apply stroke-bg-primary;
  }

  .cell {
    transform-box: fill-box;
    opacity: 1;
    transition: transform 200ms ease-out, opacity 200ms ease-out;

    .pattern {
      fill-opacity: 0.9;
      transition: fill-opacity 200ms ease-out;
    }
    .highlight-pattern {
      fill-opacity: 0;
      transition: fill-opacity 200ms ease-out;
    }
    .cell-gap {
      stroke-width: 22;
      @apply stroke-bg-primary;
      transition: transform 200ms ease-out, opacity 200ms ease-out, stroke-width 200ms ease-out;
    }
    .cell-border {
      stroke-width: 1;
      stroke-opacity: 0.1;
      fill: transparent;
      @apply stroke-brand;
      transform-origin: center;
      transition: transform 200ms ease-out, stroke-opacity 200ms ease-out, stroke-width 200ms ease-out;
    }
    .hover-border {
      stroke-width: 1;
      fill: transparent;
      stroke: transparent;
    }
    .image-fo {
      transform: scale(1);
      transform-box: fill-box;
      transform-origin: center;
      transition: transform 350ms ease-out;
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .focus-dot {
      @apply fill-brand;
      transition: transform 200ms ease-out, opacity 200ms ease-out;
    }
    .label {
      text-anchor: middle;
      dominant-baseline: central;
      @apply fill-bg-primary;
      @apply md:text-sm xl:text-lg;
      @apply tracking-normal md:tracking-wide;
      transition: transform 200ms ease-out, opacity 200ms ease-out;
    }
    .label-box {
      @apply fill-text-primary;
      fill-opacity: 0.75;
      transition: transform 200ms ease-out, opacity 200ms ease-out, fill-opacity 200ms ease-out;
    }

    &.hover-selected {
      .pattern,
      .highlight-pattern {
        fill-opacity: 0;
      }
      .cell-gap {
        stroke-width: 20;
      }
      .image-fo {
        transform: scale(1.01);
      }
      .label-box {
        fill-opacity: 0.85;
      }
    }
  }

  .bounds,
  .base-layer,
  .content-layer {
    opacity: 1;
    transition: opacity 300ms ease-out;
  }

  &.expose-view {
    pointer-events: none;
    .bounds,
    .cell {
      opacity: 0.015;
      transition: transform 250ms ease-in, opacity 150ms ease-out;

      &.exposed {
        opacity: 1;
        transition: transform 200ms ease-out, opacity 100ms ease-out 150ms;

        .cell-border {
          stroke-opacity: 1;
          stroke-width: 1;
        }
        .pattern,
        .highlight-pattern {
          fill-opacity: 0;
        }
        .focus-dot,
        .label {
          opacity: 0;
        }
      }
    }
  }

  &.highlight-view {
    .cell {
      opacity: 0.35;

      .label,
      .label-box,
      .focus-dot {
        opacity: 0;
      }

      &.field-highlight {
        opacity: 1;

        .highlight-pattern {
          fill-opacity: 1;
        }
        .label,
        .label-box,
        .focus-dot {
          opacity: 1;
        }
      }
    }
  }
}
