#voronoiSvg {
  .bounds {
    stroke-width: 2;
    @apply stroke-bg-primary;
  }

  .cell {
    transform-box: fill-box;
    transform-origin: center;
    opacity: 1;
    transform: scale(1);
    transition: all 250ms ease-out;

    .pattern {
      fill-opacity: 0.9;
      transition: all 250ms ease-out;
    }
    .highlight-pattern {
      fill-opacity: 0;
      transition: all 250ms ease-out;
    }
    .cell-gap {
      stroke-width: 22;
      @apply stroke-bg-primary;
      transition: all 250ms ease-out;
    }
    .cell-border {
      stroke-width: 1;
      stroke-opacity: 0.1;
      fill: transparent;
      @apply stroke-brand;
      transition: all 250ms ease-out;
    }
    .hover-border {
      stroke-width: 1;
      fill: transparent;
      stroke: transparent;
    }
    .image-fo {
      transform: scale(1);
      transform-box: fill-box;
      transform-origin: center;
      transition: transform 350ms ease-out;
      .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    .focus-dot {
      @apply fill-brand;
      transition: all 250ms ease-out;
    }
    .label {
      text-anchor: middle;
      @apply fill-text-primary;
      @apply text-lg xl:text-xl;
      @apply font-semibold;
      transition: all 250ms ease-out;
    }

    &.hover-selected {
      .pattern,
      .highlight-pattern {
        fill-opacity: 0;
      }
      .cell-gap {
        stroke-width: 20;
      }
      .image-fo {
        transform: scale(1.01);
      }
    }

    &.field-highlight {
      .highlight-pattern {
        fill-opacity: 1;
      }
    }
  }

  .bounds,
  .base-layer,
  .content-layer {
    opacity: 1;
    transition: all 300ms ease-out;
  }

  &.list-view {
    .cell-border {
      stroke-opacity: 1;
    }
    .bounds,
    .focus-dot,
    .label {
      opacity: 0;
    }
    .pattern,
    .highlight-pattern {
      fill-opacity: 0;
    }
  }

  &.expose-view {
    .bounds,
    .cell {
      opacity: 0.025;
      transition: all 300ms ease-out;

      &.exposed {
        opacity: 1;
        .cell-border {
          stroke-opacity: 1;
        }
        .pattern {
          fill-opacity: 0;
        }
        .focus-dot,
        .label {
          opacity: 0;
        }
      }
    }
  }
}
